//---------------------------
//
// Show and Hide Component related to Screen Size
//
//---------------------------

$size-collection: ('sm', 'md', 'lg', 'xl');

@each $size in $size-collection {
  .-show-#{$size}-up {
    display: none;
    @if $size == sm {
      @include susy-breakpoint($media-sm) {
        display: block;
      }
    } @else if $size == md {
      @include susy-breakpoint($media-md) {
        display: block;
      }
    } @else if $size == lg {
      @include susy-breakpoint($media-lg) {
        display: block;
      }
    } @else if $size == xl {
      @include susy-breakpoint($media-xl) {
        display: block;
      }
    }
  }

  .-hide-#{$size}-up {
    display: block;
    @if $size == sm {
      @include susy-breakpoint($media-sm) {
        display: none;
      }
    } @else if $size == md {
      @include susy-breakpoint($media-md) {
        display: none;
      }
    } @else if $size == lg {
      @include susy-breakpoint($media-lg) {
        display: none;
      }
    } @else if $size == xl {
      @include susy-breakpoint($media-xl) {
        display: none;
      }
    }
  }
}
