$main-color: lightblue;

.hello {
  color: $main-color;
  display: flex; // caniuse tester

  & .nest1 {
    color: red;

    & .nest2 {
      color: green;

      & .nest3 { // max-nesting-depth rule tester
        color: yellow;

      }
    }
  }
}
