.game-panel {
  margin-bottom: 1em;
  padding-top: 1em;
  text-align: center;

  >.position {
    display: inline-block;
    width: 3em;
    font-size: 24px;
  }
}

.game-play {
  margin: 0 2px;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px theme-color(candlestick);
  background-color: transparent;
  padding: 1em;
  width: 12em;
  font-size: 24px;

  &.-buy,
  &.-cover {
    border-color: theme-color(candlestick, up);
  }

  &.-short,
  &.-sell {
    border-color: theme-color(candlestick, down);
  }

  &.-control {
    width: 6em;
  }

  &:focus {
    outline: none;
  }

  &:active {
    position: relative;
    top: 1px;
    box-shadow: none;
  }
}
