path {
  &.candle {
    stroke: #000000;

    &.body {
      stroke-width: 0;
    }

    &.up {
      fill: #DD0000;
      stroke: #DD0000;
    }

    &.down {
      fill: #009900;
      stroke: #009900;
    }
  }
}

.crosshair {
  cursor: crosshair;
  font-size: 10px;
}

.crosshair path.wire {
  stroke: #DDDDDD;
  stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
  fill: #DDDDDD;
}
