.volume {
  fill: theme-color(candlestick, volume);
}

.indicator {
  .line {
    fill: none;
    stroke-width: 1;
  }
}

.atr {
  .line {
    stroke: theme-color(indicator, yellow500);
  }
}

.sma {
  &.ma-10 {
    stroke: theme-color(indicator, bluegrey500);
  }

  &.ma-20 {
    stroke: theme-color(indicator, orange500);
  }

  &.ma-60 {
    stroke: theme-color(indicator, deeppurple500);
  }
}
