//---------------------------
//
// Base/root styles
//
//---------------------------

html {
  background-color: theme-color(background, dark);
  color: theme-color(font, light);
  font-family: 'Roboto', 'Noto Sans TC', PingFang, LiHei Pro, Microsoft JhengHei, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
