//---------------------------
//
// Color variables
//
//---------------------------

// define theme colors
//
// $theme: (
//   typeName: (
//     base: #ffffff, // must have a base color
//   ),
// );

$theme: (
  candlestick: (
    up: #F44336, // red500
    down: #4CAF50, // green500
    base: #9E9E9E, // grey500
    volume: #616161, // grey700
  ),

  background: (
    dark: #212121, // grey900
    base: #9E9E9E, // grey500
    light: #F5F5F5, // grey100
  ),

  indicator: (  // all material 500,
    base: #000000,
    red500: #F44336,
    pink500: #E91E63,
    purple500: #9C27B0,
    deeppurple500: #673AB7,
    indigo500: #3F51B5,
    blue500: #2196F3,
    lightblue500: #03A9F4,
    cyan500: #00BCD4,
    teal500: #009688,
    green500: #4CAF50,
    lightgreen500: #8BC34A,
    lime500: #CDDC39,
    yellow500: #FFEB3B,
    amber500: #FFC107,
    orange500: #FF9800,
    deeporange500: #FF5722,
    brown500: #795548,
    bluegrey500: #607D8B,
  ),

  font: (
    base: #212121,
    light: #9E9E9E, // grey100
  ),

  default: (
    base: #9E9E9E,
  ),
);

$theme-colors: $theme;

// standard colors
$standard-colors: (
  black: #000,
  white: #fff,

  gray: (
    base: #47525d,
    x-dark: #25282b,
    dark: #3d464d,
    medium: #7b8994,
    light: #d0d4d9,
    x-light: #f7f9fa,
  ),

  blue: (
    base: #007ee5,
    x-dark: #004c8a,
    dark: #0071ce,
    medium: #72b6ec,
    light: #cce6fa,
    x-light: #f4faff,
  ),

  red: (
    base: #e82110,
    x-dark: #921515,
    dark: #c21c1c,
    medium: #ed7a6f,
    light: #fcbdbd,
    x-light: #ffe3e3,
  ),

  green: (
    base: #48ac68,
    x-dark: #2c683f,
    dark: #3a8a54,
    medium: #86c49a,
    light: #ddf0e2,
    x-light: #edfaf1,
  ),

  yellow: (
    base: #fcca00,
    x-dark: #996e00,
    dark: #c99700,
    medium: #fce897,
    light: #fff5cc,
    x-light: #fffdec,
  ),
) !default;
